@import '@carbon/styles/css/styles.css';

:root {
  --background-color: #ffffff;
  --header-background: #161616;
  --text-color: #161616;
  --accent-color: #0f62fe;
  --question-color: #da1e28;
  --tile-background: #f4f4f4;
  --hover-background: #e0e0e0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--header-background);
  color: #ffffff;
  padding: 1rem;
}

.header h1 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.topic-selection {
  text-align: center;
}

.topic-selection__title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--text-color);
}

.topic-selector {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.topic-selection__button {
  margin-top: 50px;
  margin-right: 150px;
}

.math-test {
  margin-top: 2rem;
}

.question-display {
  background-color: var(--tile-background);
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-display__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.question-display__text {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--question-color);
  margin: 0;
  font-weight: 600;
}

.answer-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.answer-options__button {
  width: 100%;
  height: auto;
  white-space: normal;
  padding: 1rem;
  background-color: var(--tile-background);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.answer-options__button:hover {
  background-color: var(--hover-background);
}

.game-over {
  background-color: var(--tile-background);
  border-radius: 4px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-over__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.game-over__tags {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.game-over__analysis {
  text-align: left;
  margin-top: 2rem;
  background-color: var(--background-color);
  padding: 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--tile-background);
}

.game-over__analysis-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.game-over__restart-button {
  margin-top: 2rem;
}